'scopeName': 'source.sros'
'name': 'SROS'
'fileTypes': ['sros']
'patterns': [

  {
    'include': '#stanza-1'
  }
  {
    'include': '#stanza-2'
  }
  {
    'include': '#stanza-3'
  }
  {
    'include': '#ip_address'
  }
  {
    'include': '#description'
  }
  {
    'include': '#create'
  }
  {
    'include': '#id'
  }
  {
    'include': '#echo'
  }
  {
    'include': '#system'
  }
  {
    'include': '#variable'
  }
  {
    'include': '#white-color'
  }

#System Stanza
  {
    'include': '#system-bud'
  }
  {
    'include': '#system-leaf'
  }
#Security Stanza
  {
    'include': '#security-bud'
  }
  {
    'include': '#security-leaf'
  }
#Port Stanza
  {
    'include': '#port-bud'
  }
  {
    'include': '#port-leaf'
  }
#log Stanza
  {
    'include': '#log-bud'
  }
  {
    'include': '#log-leaf'
  }
#qos stanza
  {
    'include': '#qos-bud'
  }
  {
    'include': '#qos-leaf'
  }
  {
    'include': '#qos-fc'
  }
#card stanza
  {
    'include': '#card-bud'
  }
  {
    'include': '#card-leaf'
  }
##
##
]
'repository':
  'stanza-1':
    'patterns': [
      {
        'match': '(log|level-2|filter|qos|redundancy|external-alarms|router|service)$'
        'name':  'storage.type.function.sros'
        'comment': 'config stanza 1'
      }
    ]
  'stanza-2':
    'patterns': [
      {
        'match': '(thresholds|ftp-server|card|mda|serial|rs232|interface|ospf|isis|bgp|group|autonomous-system|policy-options|mpls|lsp|path|ldp|rsvp|sdp|epipe|vpls|vprn|ies|cpipe|cesopsn)\\s'
        'name': 'keyword.numeric.sros'
        'comment': 'config stanza 2'
      }
    ]
  'stanza-3':
    'patterns': [
      {
        'match': '(address|)\\s'
        'name': 'constant.language.sros'
        'comment': 'config stanza 3'
      }
    ]
  'ip_address':
    'patterns': [
      {
        'match': '\\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(/\\d+)?\\b'
        'name': 'storage.type.function.sros'
      }
    ]
  'description':
    'patterns': [
      {
        'match': '".*"'
        'name': 'string.group.sros'
        'comment': 'config exit'
      }
    ]
  'create':
    'patterns': [
      {
        'match': '(create)\\s'
        'name': 'comment.documentation.sros'
        'comment': 'config exit'
      }
    ]
  'id':
    'patterns': [
      {
        'match': '\\d{1,}'
        'name': 'storage.type.function.sros'
        'comment': 'id'
      }
    ]
  'echo':
    'patterns': [
      {
        'match': '(echo)\\s'
        'name': 'support.function.sros'
        'comment': 'config exit'
      }
    ]

  'system':
    'patterns': [
      {
        'match': '\^s{0,2}(router|System|system)\\s'
        'name':  'storage.type.function.sros'
        'comment': 'config stanza 1'
      }
    ]
  'other':
    'patterns': [
      {
        'match': '()\\s'
        'name':  'other.sros'
        'comment': 'config stanza 1'
      }
    ]
  'system-bud':
    'patterns': [
      {
        'match': '\\b(name|dns|snmp|time)\\s'
        'name': 'keyword.numeric.sros'
        'comment': 'system-bud'
      }
    ]
  'system-leaf':
    'patterns': [
      {
        'match': '\\b(sntp|zone|rmon)\\s'
        'name':  'storage.type.function.sros'
        'comment': 'system-leaf'
      }
    ]
  'security-bud':
    'patterns': [
      {
        'match': '\\b(security|user|snmp|ssh|console|ftp)\\s'
        'name': 'keyword.numeric.sros'
        'comment': 'security-bud'
      }
    ]
  'security-leaf':
    'patterns': [
      {
        'match': '\\b(ftp-server||console ftp|both|v3)\\s'
        'name':  'storage.type.function.sros'
        'comment': 'security-leaf'
      }
    ]
  'port-bud':
    'patterns': [
      {
        'match': '(port|ethernet|lldp)\\s'
        'name': 'keyword.numeric.sros'
        'comment': 'port-bud'
      }
    ]
  'port-leaf':
    'patterns': [
      {
        'match': '\\b(network|dot1q|nearest-bridge|tx-rx|sys-cap|system|port-desc|sys-name|sys-desc|sys-cap|asynchronous|cem|hybrid|null|access|network)\\s'
        'name':  'storage.type.function.sros'
        'comment': 'port-leaf'
      }
    ]
#log stanza
  'log-bud':
    'patterns': [
      {
        'match': '(snmp-trap-group|log-id)\\s'
        'name': 'keyword.numeric.sros'
        'comment': 'log-bud'
      }
    ]
  'log-leaf':
    'patterns': [
      {
        'match': '\\b(main security)\\s'
        'name':  'storage.type.function.sros'
        'comment': 'log-leaf'
      }
    ]

##qos
  'qos-bud':
    'patterns': [
      {
        'match': '(sap-ingress|sap-egress|mc-mlppp|fc)\\s'
        'name':  'keyword.numeric.sros'
        'comment': 'qos'
      }
    ]
  'qos-leaf':
    'patterns': [
      {
        'match': '(be|af|l2|nc|ef)\\s'
        'name':  'storage.type.function.sros'
        'comment': 'qos'
      }
    ]
  'qos-fc':
    'patterns': [
      {
        'match': '(be|af|l2|nc|ef)\\s'
        'name':  'string.group.sros'
        'comment': 'qos'
      }
    ]
#card
  'card-bud':
    'patterns': [
      {
        'match': '(card|mda)\\s'
        'name': 'keyword.numeric.sros'
        'comment': 'card-bud'
      }
    ]
  'card-leaf':
    'patterns': [
      {
        'match': '\\b(iom-sar|a8-1gb-v3-sfp|a12-sdi|a8-ethv2)\\s'
        'name':  'storage.type.function.sros'
        'comment': 'card-leaf'
      }
    ]
  'white-color':
    'patterns': [
      {
        'match': '(channel-group|to snmp|tx-mgmt-address|spoke-sdp)'
        'name':  'other.sros'
        'comment': 'comment'
      }
    ]

'scopeName': 'source.nokia-sros-config'
